@charset "utf-8";
/* CSS Document */

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* end box-sizing reset */

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 200;
}

/* General links */
a {
  text-decoration: none;
  color: white;
}

/* Nav container */
.nav-container {
  background-color: black;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

/* Hamburger */
.hamburger-menu {
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Menu (hidden by default on mobile) */
.topnav_menu {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  background-color: black;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 999;
  
}
.topnav_menu ul {
  list-style: none;
  margin: 0 0.5rem;
  padding: 0;
  
}
.topnav_menu ul li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.topnav_menu ul li a {
  display: block;
  padding: 1rem;
}

/* When active (show menu) */
.topnav_menu.active {
  display: block;
}

img{
  max-width: 100%;
  height: auto;
}

/* === Hero Section === */

.hero_text{
  width: fit-content;
  background: rgba(255, 255, 255, 0.819);
  font-size: 1rem;
  color: rgb(98, 98, 98);
  padding: 1rem 1rem;
  position: absolute;
  top: 5%;
  right: 0;
}

.hero_container {
  max-width: 100vw;
  position: relative;
  height: auto;

}

.hero_text h1 {
  margin: 0;
  text-transform: uppercase;
}

.hero_text p {
  margin: 0;
}

.button{
  background-color: rgb(255, 142, 35);
  width: fit-content;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

/* === Best Sellers Section === */

.bs-section__h2,
.shop-by-section__h2 {
  padding: 2rem 2rem;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 0;
}

.best-seller_container,
.shop-by-section__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  gap: 100px;
  padding: 2rem 3rem;
}

.best-sellers_container img{
  max-width: 267px;
}

.btn{
  margin-top: 2.5rem;
  width: auto;
  height: fit-content;
}

.btn .button{
  font-size: 1.25rem;
}

/* === Shop by Room Section === */

.shop-by-section__inner img{
  filter: brightness(62%);
  width: 200px;
  border-radius: 50%;
}

.shop-by-section_items{
  position: relative;
}

.shop-by-section__inner p{
  width: 120px;
  position: absolute;
  top: 20%;
  left: 20%;
  font-weight: 400;
}

.shop-by-section__inner{
  padding-bottom: 4rem;
}

/* === All New Section === */

.all-new-section__inner{
  width: fit-content;
  background: rgba(0, 0, 0, 0.426);
  font-size: 1rem;
  color: white;
  padding: 1rem 1rem;
  position: absolute;
  top: 8%;
  right: 0;
}

.all-new-section {
  max-width: 100vw;
  position: relative;
  height: auto;

}

.all-new-section__inner h2{
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}


.all-new-section__inner p {
  margin: 0;
}

.all-new-section__inner .button{
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.all-new-section__inner .button > .btn{
  color: black;
  font-weight: 300;
}

/* === Speaker Comparison Section === */

abbr {
  text-decoration: none;
}

.speaker-comparison h2 {
  font-size: 1.75rem;
  margin-top: 0;
  text-align: center;
  padding-bottom: 1.5rem;
}

.speaker-comparison {
  max-width: 75rem;
  margin: 3rem auto;
  padding: 4rem 1rem;
  background-color: white;
}

.speakers-table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
  font-weight: 300;
  border-radius: 15px;
  --padding: 20px 0;
  box-shadow: 1px 3px 7px #efefef;;
}

.speakers-table th {
  background-color: #ff6600;
  color: white;
  padding: var(--padding);
  text-transform: uppercase;
}

tr td:last-child{
  font-weight: bold;
}

.speakers-table .highlight-price{
  padding-left: 5px;
  color: #ff6600;
}

/* Customize inside horizontal borders */
.speakers-table td {
  text-align: center;
  padding: var(--padding);
  --border: 1px solid #c3c3c3;
  border-left: var(--border);
  border-bottom: var(--border);
}

/* Table Head inside vertical borders */
.speakers-table th:not(:last-child)
 {
  border-right: 1px solid #bbb;
}

/* Tabular Data right outside vertical borders */
.speakers-table td:last-child{
  border-right: var(--border);
}

/* td row zebra color effect */
.speakers-table tr:nth-child(even){
  background-color: #f6f6f6;
}

/* Rounded Corners */

.speakers-table .top-left {
  border-top-left-radius: 15px;
}

.speakers-table .bottom-left {
  border-bottom-left-radius: 15px;
}

.speakers-table .top-right {
  border-top-right-radius: 15px;
}

.speakers-table .bottom-right {
  border-bottom-right-radius: 15px;
}

/* === Our Story Section === */

.our-story__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.our-story__inner .our-story__text{
  color: white;
  text-align: center;
  position: absolute;
}

.our-story__text h2{
  margin: 0;
  text-transform: uppercase;

}

.our-story__text p{
  font-size: 15.5px;
  font-weight: 500;
}

.our-story__text .p-italic{
  font-style: italic;
}

.our-story__text .btn{
  margin-top: 2rem;
  font-size: smaller;
}

.responsive-img{
  width: 100vw;
  height: auto;
}

/* === In The News Section === */

.in-the-news__inner{
  width: 100%;
  height: auto;
  margin: 5rem auto;
}

.in-the-news__inner h2{
  font-size: 2.75rem;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
}

.in-the-news__inner .container{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.container div{
  width: 200px;
}

.container img{
  display: block;
  margin: 0 auto;
}

/* === This is Audio Engine Section === */
.this-is-audio-wrapper{
  background-image: url("../images/bg-this-is-audio-engine-section.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.this-is-audio-heading{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 1px 0 1px white;
  text-align: center;
}



@media (min-width: 600px) {
  .hero_text h1,
  .all-new-section__inner h2,
  .our-story__text h2{
    font-size: 2rem;
  }
  .hero_text{
    top: 15%;
    right: 0;
  }

  /* === All New Section === */
  .all-new-section__inner{
    top: 15%;
    right: 0;
    width: 300px;
    padding: 2rem 2rem;
  }

  /* === Speaker Comparison (Table) Section === */
  .speaker-comparison {
  padding-right: 5rem;
  padding-left: 5rem;
  }

  /* === Our Story Section === */
  .our-story__text .btn{
    font-size: small;
  }

  .our-story__text p{
    font-size: 20px;
    font-weight: 400;
  }

  /* === This is Audio Engine Section === */

  .this-is-audio-heading{
  padding-top: 5px;
  font-size: 3rem;
}

}

@media (min-width: 720px) {
  .hero_text h1, .all-new-section__inner h2{
    font-size: 2.5rem;
  }
  .hero_text p, .all-new-section__inner p{
    font-size: 1.5rem;
  }

  .hero_text {
    padding: 2rem 2rem;
    top: 20%;
    right: 0;
    height: auto;
  }
  
  /* === All New Section === */
  .all-new-section__inner{
    width: 400px;
    padding: 2rem 2rem;
  }

}


@media (min-width: 1120px) {
  .top_logo img{
    max-width: fit-content;
  }

  .hamburger-menu {
    display: none;
  }

  .topnav_menu {
    display: flex;
    position: static;
    justify-content: flex-end;
    background: none;
  }
  .topnav_menu ul {
    display: flex;
    gap: 3rem;
  }

  .topnav_menu ul li {
    border: none;
  }

  .topnav_menu ul .additional_menu {
    display: flex;
    gap: 1rem;
  }

  .topnav_menu ul li a {
    border: none;
    padding: 0;
  }

  /* === Hero Section == */
  .hero_text h1, 
  .all-new-section__inner h2,
  .our-story__text h2 {
    font-size: 4rem;
  }

  .hero_text p, .all-new-section__inner p{
    font-size: 3rem;
  }

  .hero_text{
    padding: 2rem 2rem;
    top: 4%;
    right: 10%;
    /* height: auto; */
  }

  .button, .button .btn{
    font-size: 1rem;
  }

  /* === All New Section === */
  .all-new-section__inner{
    top: 25%;
    right: 0%;
    width: 700px;
    padding: 3rem 3rem;
  }

  /* === Our Story Section === */
  .our-story__text .btn{
    font-size: large;
  }

  .our-story__text p{
    font-size: 25px;
    font-weight: 400;
  }

  /* === This is Audio Engine Section === */

  .this-is-audio-heading{
  padding-top: 2rem;
  font-size: 4.5rem;
}
}
